/* Creator: Olivia Kalinowski
Date created: 01/06/2020
Date last modified:  */

body {
    background-color: #fef9ff;
    font-family: Arial, Helvetica, sans-serif;
    color: #0d1f2d;
}

header {
    background-color: #5b7d87;
    color: #fef9ff;
    height: 100px;
    text-align: center;
    padding: 30px 10px 20px 10px;
}

h1 {
    font-size: 2.5em;
}

/* Table for index.html */
caption {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 8px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px 10px
}

table {
    width: 90%;
    margin: auto;
}

tr {
    height: 30px;
}

th {
    background-color: #546a7b;
    color: #f2eded;
}

tr:nth-child(odd) {
    background-color: #e4c3ad;;
}